<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h3 class="mt-4 mb-4 text-center">Sign In</h3>
        <form action="/loginCheck" method="POST">
            <small id="error msg" class="form-text text-danger"><%= displayText %> </small>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" class="form-control" value="<%= user.username %>">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control" value="<%= user.password %>">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>

            <small id="signup" class="form-text text-muted">Don't have an account? <a href="/signUp">Sign up</a></small>

        </form>
        
    </div>
    
</body>
</html>